@model List<Movie>


<table class="table">
       <thead>
       <tr>
              <th scope="col">Movie name</th>
              <th scope="col">Movie date</th>
              <th scope="col">Cinema Name</th>
       </tr>
       </thead>
       <tbody>
       @foreach (var m in Model)
       {
              <tr>
                     <td>
                            @m.GetMovieName()
                     </td>
                     <td>
                            @m.GetMovieDate()
                     </td>
                     <td>
                            @m.GetCinema().description
                     </td>
              </tr>
       }
       </tbody>
</table>

<form method="post">
    <div>
        <input name="MovieName"
               placeholder="Movie Name" 
               type="text" 
               value="" />
        <input name="MovieDate"
               placeholder="Movie Date"
               type="date"
               value="" />

        <select name="CinemaName">

            @foreach(var name in Storage.cinemas) {
                <option value="@name.description">@name.description</option>
            }
            
        </select>

        <input type="submit" 
               value="Add movied" />
    </div>
</form>